header {
  background-color: lightblue;
  font-size: 40px;
  text-align: center;
}
.topnav {
  background-color: black;
  height: 65px;
  font-size: 40px;
}
#columns {
  text-align: center;
  font-size: 65px;
  min-height: 800px;
}
#ndovo {
  width: 100%;
  height: 300px;
}
#words {
  text-align: left;
  font-size: 40px;
}
ul{
  list-style: none;
  text-align: left;
  font-size: 30px;
  font-style: italic;
  color: green;
}
#depa {
  font-size: 30px;
  text-decoration: underline;

}
.fa {
  padding: 20px;
  font-size: 30px;
  height: 75px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
footer {
  background-color: teal;
  text-align: center;
  height: 200px;
}
#fan{
  color: black;
}
#kim {
  font-size: 25px;
}
#tom {
  color: white;
}
#demo{
  height: 900px;
}
